<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>CAOL - Controle de Atividades Online - Agence Interativa</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  <script src="./public/js/mainApp.js"></script>
  <script src="./public/js/app.js"></script>
  <script src="./public/js/chartjs-plugin-annotation.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" />
  <link rel="stylesheet" type="text/css" href="./public/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body ng-controller="mainController" ng-cloak>
  <div class="tile" id="inicio">
    <img src="./public/img/agence.png">
  </div>
  <div class="tabs is-boxed is-small" id="navbar">
    <ul>
      <li class="is-active" ng-click="innerRoutes('inicio')">
        <a>
          <span class="icon is-small"><i class="fa fa-image"></i></span>
          <span>Inicio</span>
        </a>
      </li>
      <li ng-click="innerRoutes('relatorio')">
        <a>
          <span class="icon is-small"><i class="fa fa-music"></i></span>
          <span>Relatorio</span>
        </a>
      </li>
      <li ng-click="innerRoutes('myChart2')">
        <a>
          <span class="icon is-small"><i class="fa fa-film"></i></span>
          <span>Barras</span>
        </a>
      </li>
      <li ng-click="innerRoutes('myChart3')">
        <a>
          <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
          <span>Pizza</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="container is-fluid">
    <div class="box">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Periodo a consultar</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <div class="field">
              <label class="label">Mes inicial</label>
              <p class="control">
                <span class="select">
      <select ng-model="mesinicio" ng-options="mes.id as mes.name for mes in meses"></select>
    </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Año inicial</label>
              <p class="control">
                <span class="select">
                  <select  ng-model="anoinicio" ng-options="ano for ano in anos"></select>
    </span>
              </p>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="field">
              <label class="label">Mes final</label>
              <p class="control">
                <span class="select">
      <select  ng-model="mesfin" ng-options="mes.id as mes.name for mes in meses"></select>
    </span>
              </p>
            </div>
            <div class="field">
              <label class="label">Año final</label>
              <p class="control">
                <span class="select">
<select ng-model="anofin" ng-options="ano for ano in anos"></select>
    </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Consultores</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <span class="button is-outlined" ng-repeat="usuario in usuarios">
            <label class="checkbox"> {{usuario.no_usuario}}
              <input type="checkbox" ng-value="usuario.no_usuario" name="usuario.no_usuario" ng-model="consultores" ng-click="cambiar(usuario.co_usuario)">
              </label>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" value="Relatório" id="btnrelatorio" ng-click="relatorio()">
                Relatorio
              </button>
              <button class="button is-info" value="Gráfico" id="btngrafico" ng-click="grafico()" disabled>
                Barras
              </button>
              <button class="button is-success" value="Pizza" id="btnpizza" ng-click="piechart()" disabled>
                Pizza
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box" ng-repeat="thisConsultor in dataConsultores" id="relatorio">
      <table class="table">
        <caption ng-repeat="consultorAct in thisConsultor| unique: 'no_usuario'" class="subtitle">{{consultorAct.no_usuario}}
        </caption>
        <thead>
          <tr>
            <th>Periodo</th>
            <th>Receta Liquida</th>
            <th>Custo Fixo</th>
            <th>Comissao</th>
            <th>Lucro</th>
          </tr>
        </thead>
        <tbody ng-init="totalrl=0;totalcf=0;totalco=0;totallu=0">
          <tr ng-repeat="(key,value) in thisConsultor.groupbymes" ng-switch="key">
            <th ng-switch-when=1>Enero</th>
            <th ng-switch-when=2>Febrero</th>
            <th ng-switch-when=3>Marzo</th>
            <th ng-switch-when=4>Abril</th>
            <th ng-switch-when=5>Mayo</th>
            <th ng-switch-when=6>Junio</th>
            <th ng-switch-when=7>Julio</th>
            <th ng-switch-when=8>Agosto</th>
            <th ng-switch-when=9>Septiembre</th>
            <th ng-switch-when=10>Octubre</th>
            <th ng-switch-when=11>Noviembre</th>
            <th ng-switch-when=12>Diciembre</th>
            <th ng-switch-default>default</th>
            <td ng-init="$parent.totalrl = totalrl + value.receitadelmes">{{value.receitadelmes| currency}}</td>
            <td ng-init="$parent.totalcf = totalcf + thisConsultor.brut_salario">{{thisConsultor.brut_salario| currency}}</td>
            <td ng-init="$parent.totalco = totalco + value.comisiondelmes">{{value.comisiondelmes| currency}}</td>
            <td ng-init="$parent.totallu = totallu + value.lucrodelmes">{{value.lucrodelmes| currency}}</td>
            <tr>
              <th>Total</th>
              <th>{{totalrl| currency}}</th>
              <th>{{totalcf| currency}}</th>
              <th>{{totalco| currency}}</th>
              <th>{{totallu| currency}}</th>
            </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div id="chart-container" class="chart-container" ng-show="barChartExists">
    <canvas width="1000px" height="500px"></canvas>
  </div>
  <div id="piechart-container" class="chart-container" ng-show="piechartExists">
    <canvas width="1000px" height="500px"></canvas>
  </div>
  <div id="toast">{{toastMsg}}</div>
</body>
</html>