
#toast {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff; 
    text-align: center;
    border-radius: 2px;
    padding: 16px; 
    position: fixed;
    z-index: 1; 
    left: 50%; 
    bottom: 30px;
}


#toast.show {
    visibility: visible; 


    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#chart-container{
    position: relative;
    height:40vh;
    width:80vw;
    margin-left: 5rem;
    margin-bottom: 20rem;
    margin-top: 5rem;
}
#piechart-container{
    position: relative;
    height:40vh;
    width:80vw;
    margin-left: 5rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
}
section{
    margin-top: 0.5rem;
}
#inicio{
    margin-bottom: -2rem;
    margin-top: -2rem;
    margin-left: 1rem;
}
#navbar{
    position: fixed;
    right: 0.5rem;
    top:0.5rem;
    background-color: white;
    z-index: 4;
}